################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Connect4Game/bin/Debug
/Connect4Game/obj
